<!DOCTYPE html>
<html>
  <head>
    <title>TokyoBookCafe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- FontAwesomeの導入 -->
    <script src="https://kit.fontawesome.com/5ebbe60a2a.js" crossorigin="anonymous"></script>
    <!-- app/views/layouts/application.html.erb の記述を変更 -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="wrapper">
      <header class="bar-color">
        <%= render 'layouts/header' %>
      </header>
      <main class="main-background" style="background-image:url(<%= asset_path "Backgrounds4.png", :size => '30x20' %>);　no-repeat center top; background-size:100%;background-color: #e69a9a52">
        <%= yield %>
      </main>
      <footer class="bar-color" style="background-image:url(<%= asset_path "Backgrounds.jpg", :size => '30x20' %>);　no-repeat center top; background-size:100%;background-color:#db000052">
        <%= render 'layouts/footer' %>
      </footer>
    </div>
  </body>
</html>
