<!DOCTYPE html>
<html>
  <head>
    <title>TokyoBookCafe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- FontAwesomeの導入 --> 
    <script src="https://kit.fontawesome.com/5ebbe60a2a.js" crossorigin="anonymous"></script>
    <!-- app/views/layouts/application.html.erb の記述を変更 --> 
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
